<nav class="navbar navbar-expand-lg fixed-top">

    <!-- <a class="navbar-brand" href="#"><img class="user-avatar" src="assets/images/trisul.png" style="transform: rotate(90deg);height: 70px;width: 80px;margin-left: -19px;" />  </a> -->

    Margin : {{Margin}}
    <a class="navbar-brand " href="#"><img class="vert-move" src="assets/images/bear.png" style="height: 70px;width: 80px;margin-top: 10px;" />  </a>
    <a class="navbar-brand" href="#"><img class="user-avatar vert-move-left" src="assets/images/bull-skull.png" style="height: 70px;width: 80px;margin-top: 10px;" />  </a>
    <!-- {{ received | json}} -->
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
        <i aria-hidden="true" class="fa fa-bars text-muted"></i>
    </button>
    <div class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">


            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{userName}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a  class="dropdown-item" routerLink="/dashboard">
                        <i class="fa fa-fw fa-dashboard"></i>&nbsp;
                        <span>{{ 'Dashboard' | translate }}</span>
                    </a>
                    <a  [routerLink]="['/orders']" class="dropdown-item">
                        <i class="fa fa-fw fa-table"></i>&nbsp;
                        <span>{{ 'Orders' | translate }}</span>
                    </a>
                    <a [routerLink]="['/watchlist']" class="dropdown-item">
                        <i class="fa fa-fw fa-wrench"></i>&nbsp;
                        <span>watchlist</span>
                    </a>
                    <a [routerLink]="['/holdings']" class="dropdown-item">
                          <i class="fa fa-solid fa-briefcase"></i>
                        &nbsp;
                        <span>holdings</span>
                    </a>
                           <a  [routerLink]="['/positions']" class="dropdown-item">
                        <i class="fa fa-file-o"></i>&nbsp;
                        <span>{{ 'Positions' | translate }}</span>
                    </a>

                    <a (click)="onLoggedout()" [routerLink]="['/login']" class="dropdown-item">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
