/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/bootstrap';
@import 'spinner';
@import 'utils';
@import 'rtl';
@import 'responsive';

@media print {
    .breadcrumb {
        display: none !important;
    }
}
button[mat-mini-fab] {
    transform: scale(0.9) !important;
   }

   tr.mat-footer-row,
   tr.mat-row {
     border: 1px solid #e7e7e7;
     //font-weight: bold;
     height: 5px !important;
     font-size: 10px;
   }
   tr.mat-header-row {
    height: 25px !important;
    background-color: lightpink;
    }

   th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
       padding-left: 5px !important;
   }

   .mat-success {
       background-color: green;
       color: #fff;
       line-height: 30px;
   }

   .mat-warn {
       background-color: red;
       color: #fff;
       //height: 21px;
       line-height: 30px;
   }

   .example-header {
     min-height: 64px;
     padding: 8px 24px 0;
   }

   .mat-form-field {
     font-size: 14px;
     width: 100%;
   }


   .example-header {
     min-height: 64px;
     padding: 8px 24px 0;
   }

   .mat-form-field {
     font-size: 14px;
     width: 100%;
   }

   .mat-table {
     overflow: scroll;
     max-height: 500px;
   }

   :host ::ng-deep .mat-tab-body-wrapper {
     height: 600px;

   }

   :host ::ng-deep .mat-tab-body.mat-tab-body-active {
     height: 600px;

   }
   :host ::ng-deep .mat-tab-label {
     height: 20px;
   }

      th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
       padding-right: 0px !important;
   }

   .mat-tab-header {
        background-color: darkslateblue;
        height: 25px;
   }
   .mat-tab-label {
    height: 25px !important;
   }
   button {
    background: #4285F4;
    color: white;
    height: auto;
    width: auto;
  }
   button.small {
    margin-right: 1vw;
    font-size: 9px;
    line-height: 18px;
  }
  .mat-cell, .mat-footer-cell {
    color: white;
    border-bottom-style: solid 1px;
 }
 .mat-table-background {
    width: 100%; overflow: auto; background-color: black;
}
