<mat-dialog-content>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <button  color="success" (click)="getHistoryData('5m')">5m</button>
            <button  color="success" (click)="getHistoryData('15m')">15m</button>
            <button  color="success" (click)="getHistoryData('60m')">1h</button>
            <button  color="success" (click)="getHistoryData('1d')">1d</button>
        </div>
        <div class="col-md-6" style="text-align:end">
            <button  mat-mini-fab color="success" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <highcharts-chart
            [Highcharts]="Highcharts"
            [constructorType]="'stockChart'"
            [options]="chartOptions1">
            </highcharts-chart>
        </div>
        <div class="col-md-6">
            <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.title"
          ></apx-chart>
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions>
</mat-dialog-actions>
