<!-- <div class="row">
    <div class="card mb-3">
        <div class="card-header">
            Holding
        </div> -->
        <div class="card-body table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Instrument</th>
                        <th>Quantity</th>
                        <th>Average Cost</th>
                        <th>LTP</th>
                        <th>P&L</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of holdings" >
                        <td>{{ item.symbol }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.avgRate }}</td>
                        <td>{{ item.currentPrice }}</td>
                        <td>{{(item.quantity * (item.currentPrice  - item.avgRate)).toFixed(2)}}</td>
                        <td>555</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- </div>
</div> -->
